@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$white: #fff;
$brightOrange:  #e38826;
$darkCyan: #006970;
$veryDarkCyan: #004241;
$transparentWhite: #ffffffbf;
$veryLightGray: #f2f2f2;
$fontSize: 15px;
$lexendaDeca: 'Lexend Deca', sans-serif;
$bigShouldersDisplay: 'Big Shoulders Display', cursive, sans-serif;


